.header {
  -webkit-text-stroke: 1.5px black;
  color: transparent;
  letter-spacing: 2px;
  font-size: 48px;
  margin: 20px 0;

  text-transform: lowercase;
}

.formWrapper {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;

  background-color: #d6cbc9;
  border-radius: 10px;
  padding: 20px;
}


@media screen and (max-width: 670px) {
  .formWrapper {
    width: 70vw;
  }   
}
