@font-face {
  font-family: "StarJedi";
  src: url(/Starjedi.ttf);
}

:root {
  font-family: "StarJedi";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url("/background.avif");

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
